<section class="discont-section">
        <div class="discont-section__row">
            <div class="discont-section__left">
                <div class="discont-section__title">
                    <div class="title__row flex">
                        <span class="title-word">Получи</span>
                        <span class="title-icon title-icon--lightning">
                            <svg class="title-svg">
                                <use xlink:href="/img/sprite.svg#sprite--lightning"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="title__row flex --align-center">
                        <span class="title-icon title-icon--discont">
                            <svg class="title-svg">
                                <use xlink:href="/img/sprite.svg#sprite--sale"></use>
                            </svg>
                        </span>
                        <span class="title-word">скидку</span>
                        <span class="title-word title-word--white">500 ₽</span>
                    </div>
                    <div class="title__row">
                        <span class="title-word">за подписку</span>
                    </div>
                </div>
                <div class="discont-section__desc">Никакого спама и рекламы, только полезная информация, скидки и персональные предложения</div>
                <input placeholder="Ваш Email" type="email" class="input">
                <a href="#" class="circle-btn">Подписаться</a>
            </div>
            <div class="discont-section__right">
                <div class="discont-section__circle">
                    <div class="discont-section__pic">
                        <img src="/img/discont-img.jpg" alt="" class="discont-section__img">
                    </div>
                </div>
            </div>
        </div>
</section>