<div class="container relative">
    <div class="zaryad --svg__zaryad"></div>
</div>
<div class="relative">
    <div class="slider swiper-container">
        <ul class="slider__list swiper-wrapper">
            <li class="slider__item swiper-slide slide">
                <div class="relative dib">
                    <img src="/img/slide.jpg" alt="">
                    <a href="#" class="circle-btn circle-btn--slide">В каталог</a>
                    <div class="slide__content">
                        <div class="slide__title">Константин Константинович</div>
                        <div class="slide__desc">Крутой хоккеист такой-то команды</div>
                        <div class="relative">
                            <a href="#" class="slide__circle-border">
                                <svg class="slide-svg">
                                    <use xlink:href="/img/sprite.svg#sprite--play"></use>
                                </svg>
                                <img class="circle-img" src="/img/circle.png" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider__item swiper-slide slide">
                <div class="relative dib">
                    <img src="/img/slide.jpg" alt="">
                    <a href="#" class="circle-btn circle-btn--slide">В каталог</a>
                    <div class="slide__content">
                        <div class="slide__title">Константин Константинович</div>
                        <div class="slide__desc">Крутой хоккеист такой-то команды</div>
                        <div class="relative">
                            <a href="#" class="slide__circle-border">
                                <svg class="slide-svg">
                                    <use xlink:href="/img/sprite.svg#sprite--play"></use>
                                </svg>
                                <img class="circle-img" src="/img/circle.png" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider__item swiper-slide slide">
                <div class="relative dib">
                    <img src="/img/slide.jpg" alt="">
                    <a href="#" class="circle-btn circle-btn--slide">В каталог</a>
                    <div class="slide__content">
                        <div class="slide__title">Константин Константинович</div>
                        <div class="slide__desc">Крутой хоккеист такой-то команды</div>
                        <div class="relative">
                            <a href="#" class="slide__circle-border">
                                <svg class="slide-svg">
                                    <use xlink:href="/img/sprite.svg#sprite--play"></use>
                                </svg>
                                <img class="circle-img" src="/img/circle.png" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider__item swiper-slide slide">
                <div class="relative dib">
                    <img src="/img/slide.jpg" alt="">
                    <a href="#" class="circle-btn circle-btn--slide">В каталог</a>
                    <div class="slide__content">
                        <div class="slide__title">Константин Константинович</div>
                        <div class="slide__desc">Крутой хоккеист такой-то команды</div>
                        <div class="relative">
                            <a href="#" class="slide__circle-border">
                                <svg class="slide-svg">
                                    <use xlink:href="/img/sprite.svg#sprite--play"></use>
                                </svg>
                                <img class="circle-img" src="/img/circle.png" alt="">
                            </a>
                            
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="slide-button-prev">
        <svg class="slide-btn">
            <use xlink:href="/img/sprite.svg#sprite--slide-prev"></use>
        </svg>
    </div>
    <div class="slide-button-next">
        <svg class="slide-btn">
            <use xlink:href="/img/sprite.svg#sprite--slide-next"></use>
        </svg>
    </div>
</div>
