<footer class="footer">
    <div class="container">
        <div class="flex mb-55">
            <svg class="footer-logo-svg">
                <use xlink:href="/img/sprite.svg#sprite--footer-logo"></use>
            </svg>
            <div class="social">
                <svg class="social-svg">
                    <use xlink:href="/img/sprite.svg#sprite--tg"></use>
                </svg>
            </div>
            <div class="social">
                <svg class="social-svg">
                    <use xlink:href="/img/sprite.svg#sprite--vk"></use>
                </svg>
            </div>
        </div>
        <div class="footer__grid">
            <div class="footer__col mr-169">
                
                <div class="footer__row">
                    <div class="footer-text footer-text--grey">Наименование</div>
                    <div class="footer-text">ООО «ЗаряД»</div>
                </div>
                <div class="footer__row">
                    <div class="footer-text footer-text--grey">Юридический адрес</div>
                    <div class="footer-text">Республика Татарстан, г. Набережные Челны,
                        ул. Альметьевский тракт, д. 6а</div>
                </div>
                <div class="flex --just-space">
                    <div class="footer-block">
                        <div class="footer__row">
                            <div class="footer-text footer-text--grey">Телефон</div>
                            <div class="footer-text">+7 (800) 511-93-90</div>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="footer__row">
                            <div class="footer-text footer-text--grey">Email</div>
                            <div class="footer-text">info@zaryad-hockey.ru</div>
                        </div>
                    </div>
                </div>
                <div class="flex --just-space">
                    <div class="footer-block">
                        <div class="footer__row">
                            <div class="footer-text footer-text--grey">ИНН</div>
                            <div class="footer-text">1646040440</div>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="footer__row">
                            <div class="footer-text footer-text--grey">ОГРН</div>
                            <div class="footer-text">1151674001632</div>
                        </div>
                    </div>
                </div>
                <div class="copyright">© 2017-2022 Заряд</div>
                <div class="confedital">Политика конфиденциальности</div>
            </div>
            <div class="footer__col">
                <div class="flex mb-56">
                    <div class="footer-link-block">
                        <div class="footer-link-block__title">О бренде</div>
                        <a href="#" class="footer-link">История бренда</a>
                        <a href="#" class="footer-link">Технологии производства</a>
                        <a href="#" class="footer-link">Производство</a>
                        <a href="#" class="footer-link">Контакты магазинов</a>
                    </div>
                    <div class="footer-link-block">
                        <div class="footer-link-block__title">Партнерам</div>
                        <a href="#" class="footer-link">Как стать партнером</a>
                        <a href="#" class="footer-link">Как мы работаем</a>
                        <a href="#" class="footer-link">Информация о выборе контрагентов</a>
                    </div>
                </div>
                <div class="flex">
                    <div class="footer-link-block">
                        <div class="footer-link-block__title">Покупателям</div>
                        <a href="#" class="footer-link">Доставка и оплата</a>
                        <a href="#" class="footer-link">Обмен и возврат</a>
                        <a href="#" class="footer-link">Гарантия</a>
                    </div>
                    <div class="footer-link-block">
                        <div class="footer-link-block__title footer-link-block__title--transparent">ssssssssss</div>
                        <a href="#" class="footer-link">Бонусная программа</a>
                        <a href="#" class="footer-link">Таблица размеров</a>
                        <a href="#" class="footer-link">Подарочный сертификат</a>
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <div class="flex --dir-col --just-space h-100">
                    <a href="#" class="circle-btn circle-btn--footer">Связаться
                        <br>с нами</a>
                    <a href="#" class="imperium-logo">
                        <svg class="imperium-logo-svg">
                            <use xlink:href="/img/sprite.svg#sprite--imperium"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
